<div>
    <label for="username">User: </label>
    <input id="username" type="text" name="username" required>
</div>
<div>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" required>
</div>