<a href="/auth/logout">Cerrar sesión</a>
{{#if isAdmin}}
<a href="/order/queue">Cola de pedidos</a>
<a href="/order/stock">Stock</a>
<a href="/order/stock/create">Subir producto</a>
<a href="/auth/create">Crear usuario</a>
<a href="/auth/users">Ver usuario</a>
<a href="/carta">Ver Carta</a>
{{/if}}